<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a id="nav-link" href="{% url 'logout' %}">Logout</a>
                            <a id="nav-link" href="{% url 'category_list' %}">Category List</a>
                            <a id="nav-link" href="{% url 'account_list' %}">Account List</a>
                            <a id="nav-link" href="{% url 'create_category' %}">Create Category</a>
                            <a id="nav-link" href="{% url 'create_account' %}">Create Account</a>
                        </li>
                    {% else %}
                        <li>
                            <a id="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a id="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
