<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a id="nav-link" href="{% url 'logout' %}">Logout</a>
                            <a id="nav-link" href="{% url 'category_list' %}">Category List</a>
                            <a id="nav-link" href="{% url 'account_list' %}">Account List</a>
                            <a id="nav-link" href="{% url 'create_category' %}">Create Category</a>
                            <a id="nav-link" href="{% url 'create_account' %}">Create Account</a>
                        </li>
                    {% else %}
                        <li>
                            <a id="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a id="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expensecategory_list %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
        </footer>
    </body>
</html>
